@import '../../../assets/styles/profile-shared.css';
.score-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.score-item {
  background-color: rgba(38, 28, 21, 0.1); /* قهوه‌ای برشته شفاف */
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.score-item:hover {
  transform: scale(1.02);
}

textarea.input-field {
  resize: vertical;
  min-height: 80px;
  border: 2px solid #3B6B5A; /* سبز نعنایی */
  background-color: #FDF0E0; /* کرم عسلی */
  color: #261C15; /* قهوه‌ای برشته */
}
